bind_addr = "0.0.0.0"
data_dir = "/var/lib/nomad"
region = "{{ nomad_dc }}"
datacenter = "{{ nomad_dc }}"
name = "{{ ansible_hostname }}.node"
log_level = "DEBUG"
enable_debug = true

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  rpc = "{{ ansible_default_ipv4.address }}:4647"
}

client {
  enabled = true
  servers = {{ nomad_retry_join }}
}
