{
  "service": {
    "name": "vault",
    "tags": [ "{{ vault_datacenter }}" ],
    "port": 8200,
    "check": {
      "script": "curl http://localhost:8200/v1/sys/health",
      "interval": "10s"
    }
  }
}
